#header{
    background-color: #006666;
    width: 57%;
    height: 200px;
}
table, th,td {
    border: 3px solid;
  }
  table{
    border-spacing: 50px;
  }
  th, td {
    text-align: center;
  }
#een{
width: 100px;
height: 100px;
background-color: #00CCFF;
color:#006600; 
}
#twee{
    width: 100px;
    height: 100px;
    background-image: url(eiland.jpg);
    background-size: cover;
    background-position: center;
    }
    #drie{
        width: 100px;
        height: 100px;
    background-color: #00CC00;
    color: #FFCC00;
    } 
    #vier{
        width: 100px;
        height: 100px;
        background-image: url(gras.jpg);
        background-size: cover;
        background-position: center;
    }
#vijf{
    width: 100px;
    height: 100px;
background-color: #663300;
color: #99FF00; 
}
#zes{
    width: 100px;
    height: 100px;
    background-image: url(palm.jpg);
  background-size: cover;
  background-position: center;
}
#zeven{
    width: 100px;
    height: 100px;
background-color: #FFFFFF;
color: #663399;
}
#acht{
    width: 100px;
    height: 100px;
    background-image: url(zand.jpg);
    background-size: cover;
    background-position: center;
}
#negen{
    width: 100px;
    height: 100px;
background-color: #996600;
color: #000033;
}
#tien{
    width: 100px;
    height: 100px;
    background-image: url(kokosnoot.jpg);
    background-size: cover;
    background-position: center;
    }
#elf{
    width: 100px;
    height: 100px;
background-color: #FF33FF;
color: #9900FF;
}
#twaalf{
    width: 100px;
    height: 100px;
    background-image: url(zonsondergang.jpg);
    background-size: cover;
    background-position: center;
}
#dertien{
    width: 100px;
    height: 100px;
background-color: #FFFF00;
color: #FF00FF;   
}
#veertien{
    width: 100px;
    height: 100px;
    background-image: url(banaan.jpg);
    background-size: cover;
    background-position: center;
}
#vijftien{
    width: 100px;
    height: 100px;
background-color: #0000FF;
color: #FF3333;
}
#zestien{
    width: 100px;
    height: 100px;
    background-image: url(waterval.jpg);
    background-size: cover;
    background-position: center;
}
#footer{
    background-color: #FF0000;
    width: 57%;
    height: 200px;
}
